/* Обнуление */
* {padding: 0; margin: 0; border: 0; box-sizing: border-box;}
nav,footer,header,aside {display: block;}
html,body {height: 100%; width: 100%; font-size: 100%; line-height: 1; font-size: 14px;}
button {cursor: pointer;}
ul li{list-style: none;}
a,a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
img {vertical-align: top;}

/* Стилизация */
.wrapper {
  min-height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}
[class*="__container"] {
  max-width: 1195px;
  margin: 0 auto;
  padding: 0 15px;
}
body {
  font-family: 'Poppins', sans-serif;
}
header {
  /* background-color: gray; */
  min-height: 110px;
  padding-top: 27px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
main {
  flex: 1 1 auto;
}
/* ############## header ############## */
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  font-weight: 400;
  font-size: 48px;
  color: #FFFFFF;
  position: relative;
  z-index: 5;
}
.header__menu {
  flex: 1 1 auto;
}
.menu__item {
  margin-right: 60px;
}
.menu__link {
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
}
.menu__link:hover {
  text-decoration: underline;
}
.menu__list {
  display: flex;
  justify-content: flex-end;
}
.header_button {
  position: relative;
  z-index: 5;
}
.header_button a {
  display: inline-block;
  font-weight: 400;
  font-size: 24px;
  color: #3E86F5;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 20px 43px;
  transition: background-color 0.3s ease 0s;
}
.header_button a:hover {
  background-color: lightgrey;
}
.hamb, .popup {
  display: none;
}

/* ############## section "cover-page" ############## */
.cover-page {
  min-height: 951px;
  background-image: url("img/header-background copy.png");
  background-size: cover;
  background-repeat: no-repeat;

}
.cover-page__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 350px 0 0 0;
  color: #fff;
  text-align: center;
}
.cover-page__title {
  font-weight: 600;
  font-size: 64px;
  line-height: 96px;
  width: 80%;
}
.cover-page__text {
  font-weight: 500;
  font-size: 24px;
  line-height: 200%;
  width: 80%;
  padding: 35px 0 0 0;
}

/* ############## section "search-ticket" ############## */
.search-ticket__position {
  position: relative;
  min-height: 375px;
  background-color: #E5E5E5;
}
.search-ticket {
  /* min-height: 375px; */
  position: absolute;
  bottom: 150px;
  left: 0;
  width: 100%;
  height: 100%;
}
.search-ticket__option {
  background-color: white;
  display: inline-flex;
  border-radius: 25px 25px 0px 0px;
  /* min-height: 99px; */
}
.search-ticket__option button {
  background-color: white;
  border-radius: 25px;
  padding: 27px 30px;
  font-size: 18px;
  margin: 10px;
}
.search-ticket__option button:last-of-type {
  margin-left: 0px;
}
.search-ticket__option button:hover {
  background: rgba(62, 134, 245, 0.2);
}
.search-ticket__info {
  /* min-height: 274px; */
  background-color: white;
  border-radius: 0px 50px 50px 50px;
  display: flex;
  justify-content: center;
  padding: 60px 10px;
}
.going-to, .return {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 48px 34px;
  border-radius: 25px;
  border: 2px;
  border-color: lightgrey;
  border-style: solid;
}
.return {
  margin: 0 35px 0 35px;
}
.going-to__left-text, .going-to__plane-icon, .return__left-text, .return__cal-icon {
  margin-right: 30px;
}
.title {
  font-size: 18px;
  margin-bottom: 12px;
  color: grey;
}
.under-title {
  font-size: 24px;
}
.going-to__plane-icon, .return__cal-icon {
  font-size: 18px;
  color: grey;
}
.search-icon {
  background-color: #3E86F5;
  color: white;
  border-radius: 65px;
  padding: 46px 55px;
  font-size: 54px;
}
.search-icon:hover {
  transform: scale(1.03);
  transition: transform 0.1s;
}
.return__left-text i {
  color: #3E86F5;
}
.return__right-text i {
  color: #3E86F5;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.search-ticket__option i {
  color: #3E86F5;
}

/* ############## section special-offer ############## */
.special-offer {
  background-color: #E5E5E5;
}
.special-offer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section__title {
  font-size: 48px;
  font-weight: 600;
}
.section__slider {
  display: flex;
  background: #FFFFFF;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin: 60px 0 30px 0;
}
.section__slider button {
  display: flex;
  color: grey;
  background-color: white;
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: 400;
  border-radius: 10px;
  padding: 13px 26px;
  margin: 10px;
}
.section__slider button:hover {
  background-color: #3E86F5;
  color: white;
}
.special-offer__booking {
  display: flex;
}
.booking-place {
  background: #FFFFFF;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05);
  border-radius: 50px;
  margin: 0 10px 0 10px;
}
.place__img-date, .place__descr, .place__book, .place__price, .place__title {
  display: flex;
  align-items: center;
}
.place__img-date img {
  max-width: 75%;
  margin: 21px 27px;
}
.place__img-date p {
  font-size: 18px;
  writing-mode: vertical-rl;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 0.5em;
}
.relax-category {
  font-size: 14px;
  border-radius: 100px;
  padding: 5px 20px;
  margin-right: 10px;
}
.relax-category.pink {
  color: #F178B6;
  background: #FCDDEC;
}
.relax-category.blue {
  color: #7879F1;
  background: #F1F1FD;
}
.place__descr {
  padding: 0 0 20px 0;
}
.place__descr p{
  font-size: 14px;
  color: grey;
}
.place__price p {
  font-size: 18px;
  color: grey;
}
.place__title {
  font-size: 24px;
  font-weight: 600;
  padding: 0 0 15px 0;
}
#price {
  color: black;
  font-size: 24px;
}
.place__book {
  justify-content: space-between;
  padding: 0 0 20px 0;
}
.place__book button {
  font-size: 14px;
  color: #3E86F5;
  padding: 15px 19px;
  background-color: #F2F6FF;
  border-radius: 10px;
  margin: 0 30px 0 0;
}
.place__book button:hover {
  background-color: #3E86F5;
  color: white;
}
.place__text {
  padding-left: 50px;
}

/* ############## section travel ############## */
.travel {
  background-color: #E5E5E5;
  padding: 250px 0 0 0;
}

.travel__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.travel__right {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 120px;
}
.travel__img img {
  max-width: 480px;
}
.numbers {
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  border-radius: 35px;
  display: inline-flex;
  flex-direction: column;
  padding: 27px 30px;
  position: absolute;
}
.numbers.first {
  top: 56px;
  right: -100px;
}
.numbers.second {
  bottom: 303px;
  left: -94px;
}
.numbers.third {
  bottom: 143px;
  right: -93px;
}
.numbers p:first-of-type {
  font-weight: 600;
  font-size: 36px;
  color: #3E86F5;
}
.numbers p:last-of-type {
  font-weight: 300;
  font-size: 18px;
}
.travel__img {
  position: relative;
}
.travel__title p {
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
}
.travel__par {
  font-weight: 300;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 200%;
}
.travel__par.one {
  padding: 30px 0 0 0;
}
.travel__par.two {
  padding: 30px 0 30px 0;
}
.travel__button button{
  background-color: #3E86F5;
  border-radius: 10px;
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 20px;
  color: #FFF;
  padding: 23px 34px;
  filter: drop-shadow(4px 8px 25px rgba(62, 134, 245, 0.25));
}
.travel__button button:hover {
  transform: scale(1.03);
  transition: transform 0.1s;
}

/* ############## section recommendations ############## */
.recommendations {
  background-color: #E5E5E5;
  padding: 200px 0 0 0;
}
.recommendations__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section__slider.second {
  background: #E5E5E5;
  box-shadow: none;
  margin: 60px 0 0 0;
}
.section__slider.second button {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  background: #E5E5E5;
}
.section__slider.second button:hover {
  background-color: #fff;
  color: #3E86F5;
}
.mountain {
  padding: 50px 0 0 0;
  display: flex;
}
.mountain__row {
  display: flex;
}
.mountain__box {
  background: #FFFFFF;
  box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  margin: 10px;
}
.mountain__box:hover {
  transform: scale(1.03);
  transition: transform 0.1s;
}
.mountain__img {
  position: relative;
  padding: 10px;
}
.mountain__img img {
  max-width: 100%;
}
.rating {
  padding: 3px 10px;
  background-color: #fff;
  border-radius: 25px;
  position: absolute;
  top: 20px;
  right: 30px;
}
.rating p {
  font-weight: 500;
  font-size: 12px;
}
.rating i {
  color: #F3ce43;
  font-size: 12px;
}
.box__title {
  font-weight: 600;
  font-size: 18px;
  padding: 10px 0 10px 0;
}
.mountain__text {
  padding: 0 0 0 30px;
}
.mountain__text p {
  font-weight: 500;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  padding:  0 0 10px 0;
}
.mountain__text i {
  color: red;
  opacity: 0.6;
}

/* ############ section quotes ############# */
.quotes {
  background-color: #E5E5E5;
  padding: 250px 0 100px 0;
}
.quotes__box {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border-radius: 50px;
  padding: 84px 47px 70px 47px;
  position: relative;
  margin: 0 10px 0 10px;
}
.quotes__box > img {
  max-width: 25%;
  position: absolute;
  top: 36px;
  left: 216px;
}
.quotes__row {
  display: flex;
}
.quotes_par {
  font-weight: 500;
  font-size: 20px;
  line-height: 42px;
  text-align: center;
  padding: 0 0 15px 0;
}
.quotes__author {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #3E86F5;
  padding: 0 0 15px 0;
}
.quotes__motto {
  font-weight: 500;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 0 0 15px 0;
}
.quotes__img {
  position: absolute;
  bottom: -55px;
  left: 172px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
.quotes__img img {
  max-width: 55%;
  padding: 10px;
}
.rating.second {
  position: absolute;
  top: 20px;
  right: 40px;
}

/* ######### section discount ########## */
.discount {
  background-color: #E5E5E5;
  padding: 200px 0 100px 0;
}
.discount__img {
  position: relative;
}
.discount__text {
  position: absolute;
  top: 114px;
  left: 0px;
}
.discount__text p {
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  color: #FFF;
  padding: 0 0 50px 0;
  max-width: 70%;
}
.discount__text button {
  filter: drop-shadow(4px 8px 25px rgba(62, 134, 245, 0.25));
  background: #FFFFFF;
  border-radius: 25px;
  padding: 25px 35px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #3E86F5;
}
.discount__text button:hover {
  transform: scale(1.05);
  transition: transform 0.1s;
}
.discount__img, .discount__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.discount__img img {
  max-width: 100%;
}

/* ######### footer ########## */
.footer {
  background-color: #E5E5E5;
  padding: 0 0 50px 0;
}
.footer__container {
  display: flex;
  justify-content: space-between;
}
.rights {
  font-weight: 400;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
}
.footer__nav a {
  font-weight: 400;
  font-size: 24px;
  margin: 0px 20px;
  color: rgba(0, 0, 0, 0.75);
}
.footer__nav a:hover {
  text-decoration: underline;
}








.
